.navbar{
    background-color: var(--theme);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    color: var(--white);
    font-weight: 500;
    font-size: 1.75rem;
    margin: 0;
}

.link{

    opacity: 0.5;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    /*border: 1.5px solid ;
    border-radius: 0.5rem; */
    padding: 0.5rem !important;
}

.link:hover{
    opacity: 1;
    transition: all 0.3s;
}